.sheet.item {

  form {

    .item-locations {
      height: 100px;
      weight: 100px
    }
    .item-text-left-bold {
      text-align: left;
      font-weight: bold;
    }

    .is-hidden {
      visibility: hidden;
    }

    .item-title-bold {
      font-size: medium;
      width: 120px;
      height: 30px;
      font-weight: bold;
    }
    header.item-header {
      display: flex;
      margin-bottom: 5px;

      img {
        width: 100px;
        height: 100px;
      }

      .select-header {
        width: 100%
      }

      .item-header-table {
        border: 0;
        align-items: center;

        .type-substance-image {
          text-align: center;
        }

        .substanceImage {
          width: 35px;
          height: 35px;
          border: 0;
        }
      }
      
      .item-header-first-column {
        margin-left: 5px;
        width: 100%;
        h1 {
          margin-bottom: 0;
        }
      }

      .item-header-second-column {
        margin: auto;
      }

    }

    .item-block-column {
      .item-table-content {
        text-align: center;
      }
    }

    .item-body-container {
      text-align: center;
      justify-content: space-around;
      height: 150px;
      margin-top: 5px;
      border-bottom: 1px solid var(--color-border-light-tertiary);
   
      .editor {
        height: 200px;
        text-align: left;
      }
    }
  }
}