.sheet.item {

  form {
    header.item-header {
      display: flex;
      margin-bottom: 5px;

      img {
        width: 100px;
        height: 100px;
      }
      
      .item-header-first-column {
        margin-left: 5px;
        width: 100%;
        h1 {
          margin-bottom: 0;
        }
      }
    }

    .item-body-container {
      text-align: center;
      justify-content: space-around;
      height: 100%;

      .editor {
        height: 100%;
        text-align: left;
      }
    }
  }
}