.sheet.item {

  form.witcher-item-component {

    .curor-pointer {
      cursor: pointer;
    }

    .item-locations {
      height: 100px;
      weight: 100px;

      .location-table {
        tr > td {
          text-align: left;
        }
        
        tr > td:first-child, tr > td:last-child {
          width: 30px
        }

        tr > td:nth-child(2) {
          padding-left: 15px;
        }

        td:nth-child(-n+2) {
          cursor: pointer
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    .item-text-left-bold {
      text-align: left;
      font-weight: bold;
    }

    .is-hidden {
      visibility: hidden;
    }

    .item-title-bold {
      font-size: medium;
      width: 120px;
      height: 30px;
      font-weight: bold;
    }
    header.item-header {
      display: flex;
      margin-bottom: 5px;

      img {
        width: 100px;
        height: 100px;
      }

      .select-header {
        width: 100%
      }

      .item-header-table {
        border: 0;
        align-items: center;

        .type-substance-image {
          text-align: center;
        }

        .substanceImage {
          width: 35px;
          height: 35px;
          border: 0;
        }
      }
      
      .item-header-first-column {
        margin-left: 5px;
        width: 100%;
        h1 {
          margin-bottom: 0;
        }
      }

      .item-header-second-column {
        margin: auto;
      }

    }

    .item-block-column {
      .item-table-content {
        text-align: center;
      }
    }

    .item-body-container {
      text-align: center;
      justify-content: space-around;
      height: 150px;
      margin-top: 5px;
      border-bottom: 1px solid var(--color-border-light-tertiary);
   
      .editor {
        height: 200px;
        text-align: left;
      }
    }
  }

  form {
    height: 100%;
    overflow: hidden;
    
    .is-hidden {
      visibility: hidden;
    }

    .notes-sub-header {
      padding-left: 8px;
      align-items: center;
      display: flex;
    }
    .sheet-navigation {
      flex: 0 0 30px;
      font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: var(--font-size-24, 18pt);
      font-variant: small-caps;
      margin: 4px 0;
      background: rgba(155, 155, 155, 0.3);
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 6px 6px 0 0;
      font-size: var(--font-size-20, 16pt);

      .item {
        height: 30px;
        line-height: 32px;
        margin: 0 2px;
        white-space: nowrap;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 12px 12px 0 0;
        flex: 1;
      }

      .item.active {
        background: rgba(155, 155, 155, 0.5);
      }
    }

    .item-content {
      flex: 1;
      overflow: hidden;

      .tab {
        padding: 0 5px;
        height: 100%;
        overflow-y: auto;
        align-content: flex-start;
      }

      select {
        width: 100%
      }
    }
  }
}