.witcher.sheet.actor > .window-content {
  background: #fff;
  padding-top: 0;

  .sheet-navigation {
    background: none;
    margin: 0;

    .item {
      border-radius: 0 0 12px 12px;
    }

    .item.active {
      background: rgb(211 211 211 / 50%);
    }
  }
}

