.witcher.sheet.actor > .window-content {
  background: #fff;
  padding-top: 0;

  .main-nav.sheet-navigation {
    background: none;
    margin: 0;

    .item {
      border-radius: 0 0 12px 12px;
    }

    .item.active {
      background: rgb(211 211 211 / 50%);
    }
  }

  .second-nav {
    background: none;
    margin: 0;

    .item {
      border-radius: 12px 12px 12px 12px;
    }

    .item.active {
      background: #D4D4D4;
    }

  }
.skinv-content {
  flex: 1;
  overflow: hidden;
  margin: 0;

  .tab {
    padding: 0;
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
  }
}    

  .second-nav.sheet-navigation { }

  .summary {

    .left-side {
      flex: 3;

      table {
        border: 0;
        background: #fff;

        .width-cells-30px {
          width: 30px;
        }
        .width-cells-70px {
          width: 70px
        }
        .width-cells-labels {
          width: 40%
        }
        .border-line-prop {
          font-family: GwentExtraBold;
          font-size: 10px;

          background-image: url(../assets/images/bottom-line.png);
          background-repeat: no-repeat;
          background-size: 100% 1px;
        }

      }

      .pizza-in-two-halves {
        
        .skill-delimiter {
          margin-top: 5px;
          font-size:2px;
          background-image: url(../assets/images/skill-delimiter.png);
          background-repeat: no-repeat;
          background-size: 100% 2px;
        }

        .margin-bottom-15 {
          margin-bottom: 15px;
        }

        .actor-skills {
          border: 10px solid #D4D4D4;
          background-color: #E9E9E9;

          input {
            width: 25px;
          }

          .item-stat {
         
          }

          .item-stat-left {
            width: 130px;
            flex: 0;

            div.item-stat-square {
              margin-top: 25px;
              margin-left: 25px;
              width: 70px;
              height: 70px;
              background: #fff;
              border: thick double #777575;

              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);

              input.item-stat-input {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                margin-top: 15px;
                margin-left: 4px;
                font-size: 30px;
                width: 50px;
                text-align: center;
              }

              div.item-square-mini {
                z-index: 3;
                width: 30px;
                height: 30px;
                border: 1px solid #777575;
                background-color: #fff;
                margin-left: 24px;
                margin-top: 5px;
                text-align: center;

                div {
                  -webkit-transform: rotate(-45deg);
                  -moz-transform: rotate(-45deg);
                  -o-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                  margin-right: -1px;
                  margin-top: 6px;
                }
              }

              .item-square-name {
                font-size: 18px;
                background-image: url(../assets/images/stat-name.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                margin-left: -4px;
                margin-top: -34px;
                position: absolute;
                z-index: 22;
                padding-top: 4px;
              }
              .item-square-name.actor-stat-will{
                margin-left: -6px;
                margin-top: -38px;
              }
              .item-square-name.actor-stat-emp{
                margin-left: -4px;
                margin-top: -35px;
              }

              
            }

            
          }
          .list-skills {
            list-style: none;
            margin-left: 0;
            padding-left: 20px;
           

            font-size: 10px;

            .ls-input {
              border-bottom: 1px solid  #777575;
              width: 20px;
            }
            .ls-li-item {
              align-items: flex-start;
              flex-wrap: nowrap;

              .ls-square {
                color: #fff
              }
              .ls-square.inprof {
                color: #777575
              }
            }

          }
        }
        .actor-skills-2 {
          border-left: 0;
        }
      }
    }
    .right-side {
      margin-left: 10px;
      font-family: GwentExtraBold;
      text-align: center;

      img.profile {
        width: 225px;
        border: thick double #D4D4D4;
      }

      .table-unstaled {
        border: 0;
        margin: 0;
        td:first-child {
          text-align: left;
          padding-left: 5px;
        }
      }

      .table-firsttd-click td:first-child {
        text-align: left;
        cursor: pointer;
      }

      .TableMeleeFight {
        margin: 5px 0;
      }

      .quick-action-menu {
        padding-top: 3px;
        padding-bottom: 3px;

        input {
          font-family: GwentExtraBold;
          width: 100%;
          background-color:  #E9E9E9;
          border: 0;
          cursor: pointer;
          height: 20px
        }
      }

      .actor-hp-sun-sta-block {
        background-image: url(../assets/images/hpstamon.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 150px;

        .stats-value td {
          padding-top: 22px;
          input {
            font-size: 40px;
          }
          
        }
        .stats-total {
          top: -18px;
          position: relative
        }
        .weightvigor{
          top: -4px;
          position: relative
        }
        tr:first-child td{
          padding-top: 7px;
        }
      }

      .actor-luck-ini-spd-block {
        background-image: url(../assets/images/luckini.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 90px
      }

      .actor-defence-block {
        background-image: url(../assets/images/defence.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 250px
      }
    }
    
  }
}

