<tr>
  <td>{{localize "Witcher.Item.Spells.CostStamina"}}</td>
  <td colspan="2"><input name="data.costStamina" type="text" value="{{data.costStamina}}" placeholder="" data-dtype="Number" /></td>
</tr>
<tr>
  <td>{{localize "Witcher.Item.Spells.ForageDC"}}</td>
  <td colspan="2"><input name="data.specData.ForageDC" type="text" value="{{data.specData.ForageDC}}" placeholder="" data-dtype="Number" /></td>
</tr>
