<table class="table-unstyle">
  <tr>
    <th></th>
    <th>{{localize "Witcher.Item.Name"}}</th>
    <th>status</th>
  </tr>
  {{#each actorData.inventory}}
    <tr data-id="{{id}}"

    {{#if isEquip}} style="background-color:rgb(186, 240, 198, 0.3)"{{/if}}>
      <td><img src="{{img}}"></td>
      <td>{{name}}</td>
      <td>
        {{#ife type "weapon"}}

        {{/ife}}
      </td>
    </tr>
  {{/each}}
</table>