.sheet.item form .curor-pointer {
  cursor: pointer;
}
.sheet.item form .item-locations {
  height: 100px;
  weight: 100px;
}
.sheet.item form .item-locations .location-table tr > td {
  text-align: left;
}
.sheet.item form .item-locations .location-table tr > td:first-child,
.sheet.item form .item-locations .location-table tr > td:last-child {
  width: 30px;
}
.sheet.item form .item-locations .location-table tr > td:nth-child(2) {
  padding-left: 15px;
}
.sheet.item form .item-locations .location-table td:nth-child(-n+2) {
  cursor: pointer;
}
.sheet.item form .item-locations .location-table img {
  width: 30px;
  height: 30px;
}
.sheet.item form .item-text-left-bold {
  text-align: left;
  font-weight: bold;
}
.sheet.item form .is-hidden {
  visibility: hidden;
}
.sheet.item form .item-title-bold {
  font-size: medium;
  width: 120px;
  height: 30px;
  font-weight: bold;
}
.sheet.item form header.item-header {
  display: flex;
  margin-bottom: 5px;
}
.sheet.item form header.item-header img {
  width: 100px;
  height: 100px;
}
.sheet.item form header.item-header .select-header {
  width: 100%;
}
.sheet.item form header.item-header .item-header-table {
  border: 0;
  align-items: center;
}
.sheet.item form header.item-header .item-header-table .type-substance-image {
  text-align: center;
}
.sheet.item form header.item-header .item-header-table .substanceImage {
  width: 35px;
  height: 35px;
  border: 0;
}
.sheet.item form header.item-header .item-header-first-column {
  margin-left: 5px;
  width: 100%;
}
.sheet.item form header.item-header .item-header-first-column h1 {
  margin-bottom: 0;
}
.sheet.item form header.item-header .item-header-second-column {
  margin: auto;
}
.sheet.item form .item-block-column .item-table-content {
  text-align: center;
}
.sheet.item form .item-body-container {
  text-align: center;
  justify-content: space-around;
  height: 150px;
  margin-top: 5px;
  border-bottom: 1px solid var(--color-border-light-tertiary);
}
.sheet.item form .item-body-container .editor {
  height: 200px;
  text-align: left;
}
@font-face {
  font-family: 'Thewitcher';
  src: url('./fonts/thewitcher2.ttf');
}
.witcher-style {
  font-family: Thewitcher;
}
