@font-face {
  font-family: 'Thewitcher';
  src: url('./fonts/thewitcher2.ttf');
}
@font-face {
  font-family: 'GwentExtraBold';
  src: url('./fonts/GWENT-ExtraBold.ttf');
}
.witcher-style {
  font-family: Thewitcher;
}
.gwent-style {
  font-family: GwentExtraBold;
}
.sheet.witcher section.window-content form .align-center {
  text-align: center;
}
.sheet.witcher section.window-content form .is-hidden {
  visibility: hidden;
}
.sheet.witcher section.window-content form .img35x35 {
  width: 35px;
  height: 35px;
  border: 0;
}
.sheet.witcher section.window-content form .cursor-pointer {
  cursor: pointer;
}
.sheet.witcher section.window-content form .sheet-navigation {
  flex: 0 0 30px;
  font-family: "GwentExtraBold", "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: var(--font-size-24, 18pt);
  font-variant: small-caps;
  margin-top: 4px;
  background: rgba(155, 155, 155, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px 6px 0 0;
  font-size: var(--font-size-20, 16pt);
}
.sheet.witcher section.window-content form .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 2px;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px 12px 0 0;
  flex: 1;
}
.sheet.witcher section.window-content form .sheet-navigation .item.active {
  background: rgba(155, 155, 155, 0.5);
}
.sheet.witcher section.window-content {
  background: #fff;
}
.sheet.witcher section.window-content form {
  height: 100%;
  overflow: hidden;
}
.sheet.witcher section.window-content form input,
.sheet.witcher section.window-content form select {
  background: none;
  border: 1px solid transparent;
}
.sheet.witcher section.window-content form h1,
.sheet.witcher section.window-content form h2,
.sheet.witcher section.window-content form h3,
.sheet.witcher section.window-content form h4,
.sheet.witcher section.window-content form h5 {
  font-family: "GwentExtraBold", "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: var(--font-size-24, 18pt);
  font-variant: small-caps;
}
.sheet.witcher section.window-content form select option {
  background: #fff;
}
.sheet.item.witcher section.window-content form .sheet-header {
  flex: 0 0 100px;
  align-items: center;
}
.sheet.item.witcher section.window-content form .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.sheet.item.witcher section.window-content form .sheet-header h1 input {
  font-size: calc(var(--font-size-28, 20pt) * 1.2);
  font-variant-caps: small-caps;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sheet.item.witcher section.window-content form .sheet-header img.profile {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #eeede0;
}
.sheet.item.witcher section.window-content form .sheet-header .summary {
  display: flex;
  flex: 0 0 100%;
  height: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sheet.item.witcher section.window-content form .sheet-header .summary li {
  width: 33.33%;
  height: 24px;
  padding: 0 3px;
  border-width: 2px 2px 2px 0;
  border-color: #eeede0;
  border-style: groove;
  line-height: 24px;
  color: #4b4a44;
}
.sheet.item.witcher section.window-content form .sheet-header .summary li:first-child {
  border-left: 2px groove #eeede0;
}
.sheet.item.witcher section.window-content form .item-content {
  flex: 1;
  overflow: hidden;
}
.sheet.item.witcher section.window-content form .item-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.sheet.item.witcher section.window-content form table {
  background: #fff;
  flex: 0;
  margin: 0;
  padding: 0;
  border: 2px groove rgba(155, 155, 155, 0.5);
}
.sheet.item.witcher section.window-content form tr,
.sheet.item.witcher section.window-content form td,
.sheet.item.witcher section.window-content form th {
  border: 1px groove rgba(155, 155, 155, 0.5);
}
.sheet.item.witcher section.window-content form td input[type=text],
.sheet.item.witcher section.window-content form td input[type=submit],
.sheet.item.witcher section.window-content form td input[type=button],
.sheet.item.witcher section.window-content form td select,
.sheet.item.witcher section.window-content form td textarea {
  width: 100%;
}
.sheet.item.witcher section.window-content form td input {
  text-align: center;
}
.sheet.item.witcher section.window-content form td:first-child {
  font-weight: bold;
}
.sheet.item.witcher section.window-content .witcher-insertion-area {
  width: 100%;
  height: 100%;
}
.sheet.item.witcher section.window-content .witcher-insertion-area table td,
.sheet.item.witcher section.window-content .witcher-insertion-area table tr,
.sheet.item.witcher section.window-content .witcher-insertion-area table th {
  border: 0;
}
.sheet.item.witcher section.window-content .witcher-insertion-area table img {
  width: 35px;
  height: 35px;
  border: 0;
}
.sheet.item.witcher section.window-content .witcher-insertion-area table input.qty-edit {
  width: 30px;
}
.sheet.item.witcher section.window-content .witcher-insertion-area table td:last-child {
  text-align: center;
}
.sheet.item.witcher section.window-content .witcher-insertion-area table td:nth-child(1) {
  width: 40px;
  height: 40px;
}
.sheet.item.witcher section.window-content .witcher-insertion-area table td:nth-child(2) {
  padding-left: 3px;
}
.sheet.witcher section.window-content form .editor {
  width: 100%;
  height: 100%;
}
