.sheet.item form {
  height: 100%;
  overflow: hidden;
}
.sheet.item form .is-hidden {
  visibility: hidden;
}
.sheet.item form .witcher-insertion-area {
  width: 100%;
  height: 100%;
}
.sheet.item form .img35x35 {
  width: 35px;
  height: 35px;
  border: 0;
}
.sheet.item form table.item-properties-list .item-properties-small {
  width: 50px;
}
.sheet.item form .cursor-pointer {
  cursor: pointer;
}
.sheet.item form .notes-sub-header {
  padding-left: 8px;
  align-items: center;
  display: flex;
}
.sheet.item form .sheet-navigation {
  flex: 0 0 30px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: var(--font-size-24, 18pt);
  font-variant: small-caps;
  margin: 4px 0;
  background: rgba(155, 155, 155, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px 6px 0 0;
  font-size: var(--font-size-20, 16pt);
}
.sheet.item form .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 2px;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px 12px 0 0;
  flex: 1;
}
.sheet.item form .sheet-navigation .item.active {
  background: rgba(155, 155, 155, 0.5);
}
.sheet.item form .item-content {
  flex: 1;
  overflow: hidden;
}
.sheet.item form .item-content .tab {
  padding: 0 5px;
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.sheet.item form .item-content select {
  width: 100%;
}
.sheet.item form .item-content input.qty-edit {
  width: 30px;
}
.sheet.item form.witcher-item-component .substanceImage,
.sheet.item form.witcher-item-component .location-table img {
  width: 35px;
  height: 35px;
  border: 0;
}
.sheet.item form.witcher-item-substances .item-content {
  padding-top: 10px;
}
.sheet.item form.witcher-item-alhformulas .item-ingridients {
  height: 40px;
}
.sheet.item form.witcher-item-alhformulas .item-ingridients span {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.sheet.item form.witcher-item-alhformulas .item-ingridients span .delete {
  position: relative;
  left: -10px;
}
@font-face {
  font-family: 'Thewitcher';
  src: url('./fonts/thewitcher2.ttf');
}
.witcher-style {
  font-family: Thewitcher;
}
